@{
    ViewBag.Title = "About";
}

<link href="~/Content/Css/Aboutus.css?Version=1" rel="stylesheet" />
<main aria-labelledby="title">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/Images/jioban4.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Images/jioban3.png" alt="Second slide">
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h1 class="text-center text-info">About us</h1>
        <p>&nbsp;</p>
        <div class="container">
            <h3></h3>
            <div class="paraone">
                Jio infocomm private limited is India's leading telecom service provider. The Company provides pan India Voice and Data services across 4G and 5G platform. With the large spectrum portfolio to support the growing demand for data and voice, the company is committed to deliver delightful customer experiences and contribute towards creating a truly 'Digital India' by enabling millions of citizens to connect and build a better tomorrow. The Company is developing infrastructure to introduce newer and smarter technologies, making both retail and enterprise customers future ready with innovative offerings, conveniently accessible through an ecosystem of digital channels as well as extensive on-ground presence. The Company is listed on National Stock Exchange (NSE) and Bombay Stock Exchange (BSE) in India.

            </div>
            <p>&nbsp;</p>
            <h3>
                Stay Connected,  wherever you go
            </h3>
            <div class="paraone">
                Jio infocomm private limited is
                Jio broadband is a smart network with AI inside, that self optimizes to provide you with a consistent and superfast experience on everything you love doing on the network, from wherever and whenever.
                With advanced technologies such as Indoor Coverage Plus, Jio GIGAnet gives you the speed and data-strong network that you need to stay connected in every corner of your home or office. The network also uses 5G-ready network infrastructure like Massive MIMOs to give you the superior experience in congested areas or even high rise buildings.
                Whether you’re on the move, working remotely, creating or chilling at home, Jio GIGAnet has you covered.

            </div>
            <p>&nbsp;</p>
            <h3>Stay loaded, both in data quota & in your pocket</h3>
            <div>
                With daily data up to 4GB, unlimited data from midnight to 6 am, weekend data rollover and validity of up to a year with Vi Hero unlimited Prepaid plans to up to Unlimited data, calls & loaded with OTTs for all your movie & show cravings with Vi Max Postpaid plans, Surf, share, Call, Binge, Repeat all you want, without a dent in your pocket!
                So, say no to slow buffering, call drops, running out of data or even your phone heating up with inconsistent network.
            </div>
            <p>&nbsp;</p>
            <h3>Benefits of 5g network</h3>
            <div>
                With multiple input/output antenna, and smaller transmitters, the 5G network will be able to boost signals to circumvent tall buildings or trees.
                One of the best edges of 5G technology is to empower and optimize the use of available bandwidth.
            </div>



        </div>

    </div>

</main>