@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Css/Layout.css" rel="stylesheet" />
<main>
    <div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel" style="width:100%; background-color:magenta;">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Images/baner6.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block bannertexts">
                    <h4 class="blue-grey-text">Highspeed Internet for your Family and Friends</h4>
                    <p class="indigo-text fs-6">Enjoy highspeed internet through expanded network of Jio</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-75" src="~/Images/baner5.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block bannertexts">
                    <h4 class="blue-grey-text">Recharge from Anywhere in the World at Anytime to Enjoy 5G Speed </h4>
                    <p class="indigo-text fs-6">Recharge transaction is completely secure and guranteed </p>
                    <p><a href="https://asp.net" class="btn btn-primary btn-md">Know More &raquo;</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-75" src="~/Images/baner4.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block bannertexts">
                    <h4 class="blue-grey-text">Watch Movies at your Home with Highspeed Internet</h4>
                    <p class="indigo-text fs-6">Enjoy movies with jio netflix subscription</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <div class="carousel-item">
            <img src="..." alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>.</h5>
                <p>...</p>
            </div>
        </div>
    </div>
    
    <div class="row why-background">
        <div class="why-inside" >
            <div class="col-sm-12 my-5"><h2 class="text-center text-info"> Why choose Jio </h2></div>
            <div class="row justify-content-between ">
                <div class=" col-md-2 lowcost text-center">
                    <img src="~/Images/low.png" alt="money" width="50" height="50" />
                    <div><h4 class="text-info ">Low cost</h4></div>
                    <div class="why-para">
                        The most trusted and guranteed services that is both safe and secure
                    </div>
                </div>

                <div class=" col-md-2 superfast text-center">
                    <img src="~/Images/fast.png" alt="fast" />
                    <div><h4 class="text-info">Super fast</h4></div>
                    <div class="why-para">
                        The most trusted and guranteed services that is both safe and secure
                    </div>
                </div>
                <div class=" col-md-2 simple text-center">
                    <img src="~/Images/simple.png" alt="simple" />
                    <div><h4 class="text-info">Simple</h4></div>
                    <div class="why-para">
                        The most trusted and guranteed services that is both safe and secure
                    </div>
                </div>
                <div class=" col-md-2 trusted text-center">
                    <img src="~/Images/trust.png" alt="trust" />
                    <div><h4 class="text-info">trusted</h4></div>
                    <div class="why-para">
                        The most trusted and guranteed services that is both safe and secure
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
        
    </div> 

  
</main>
