

@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="container">
    <h1> &nbsp;</h1>
    <div class="m-5 p-5 w-50 m-auto recharge">
        <h3 class="text-center">Recharge successfull</h3>
        <p class="text-center"> @Html.ActionLink("Go back", "IndexUser", "User", new { @class = " btn btn-primary" }) </p>
    </div>
    <h1> &nbsp;</h1> <h1> &nbsp;</h1> <h1> &nbsp;</h1> <h1> &nbsp;</h1> <h1> &nbsp;</h1> <h1> &nbsp;</h1> <h1> &nbsp;</h1> <h1> &nbsp;</h1> <h1> &nbsp;</h1>
</div>
