body {
    margin: 0px;
    padding: 0px;
    background-color: ghostwhite;
}

/* Navbar right aside */
.navb-right {
    font-size: larger;
    margin-left:-320px;
    width: max-content;
    color: white;
    
}

.navb-right ul li {
       
     border: hidden;
     border-radius: 50px;
     text-align: center;
    }

.navb-right ul li:hover {
     color: white;
     background-color: #030645;
    }

.userleft {
    margin-left:-12px;
}

.image-logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
}

.nav-color {
    background-color: #0861a4;
}

.textcolor {
    color: white;
}


/* Footer Section of User_Layout*/

.footer-list1 {
    font-size: larger;
}

    .footer-list1 li {
        list-style-type: none;
        margin-top: 15px;
        color: #b5f5f7;
    }

        .footer-list1 li:hover {
            color: #2fbaf7;
            cursor: pointer;
        }

.contact-address {
    max-width: 180px;
    margin: auto;
    font-size: small;
}

.footer-list2 {
    font-size: larger;
}

    .footer-list2 li {
        list-style-type: none;
        margin-top: 15px;
        color: #b5f5f7;
    }

        .footer-list2 li:hover {
            color: #2fbaf7;
            cursor: pointer;
        }

.footer-list3 {
    font-size: larger;
}

    .footer-list3 li {
        list-style-type: none;
        margin-top: 15px;
        color: #b5f5f7;
    }

.footer-background {
    background-color: #0861a4;
    padding: 10px;
    border-radius: 8px;
}

.social {
    max-width: 450px;
    margin: auto;
}

.solist {
    list-style-type: none;
    cursor: pointer;
}

/* user panel */

.userfirstdiv {
    background-color: #e0e0e1e6;
    border-radius: 5px;
}

.subimage {
    border-radius: 5px;
}

.udetail {
    width: 1000px;
    overflow-x: scroll;
}

.userprofil {
    background-color:rgb(0, 154, 255, 0.67);
    border-radius:10px;
}

.plans {
    background-color: rgb(0, 224, 255, 0.20);
    border-radius: 10px;
}

.offers {
    background-color: rgb(0, 224, 255, 0.48);
    border-radius: 10px;
}

.recharge{
    border:1px solid;
    border-radius:5px;
    background-image:linear-gradient(to bottom right,#2641c2,#01bffd);  
}
.account {
    background-color:skyblue;
    border-radius:8px;
}



.topup {
    overflow-x: scroll;
    width: 100%;
    list-style-type: none;
}



.topcolor {
    background-color:lightgreen;
}